html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
h1 {
  text-align: center;
  padding: 5px;
}

/* List Page CSS */
.list-page-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.baby-name-container {
  min-width: 60%;
}

/* Preferences */
.preference-container {
  margin: 15px;
  border: 2px grey solid;
  border-radius: 5px;
  min-height: 20vh;
  padding: 15px;
}

#name-list {
  margin: 15px;
  border: 2px grey solid;
  border-radius: 5px;
}

/* Form Page and Elements */
.modal-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background-color: rgb(0, 0, 0, 0.3);
}

.modal {
  width: 40vw;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: -5px 5px 5px 5px #0000003d;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 5vw;
}

.input-range {
  margin: 20px;
}
