@import url("https://fonts.googleapis.com/css2?family=Quicksand");

html {
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
h1 {
  text-align: center;
  padding: 5px;
}
li {
  height: 5vh;
}
/* List Page CSS */
.list-page-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
}

.baby-name-container {
  min-width: 80vw;
  text-align: center;
}

.form-page {
  transition: display 10s ease-out;
}

/* Loading Page */
.loading-chic > img {
  width: 35vw;
  border-radius: 50%;
  box-shadow: -5px 5px 5px 5px #0000003d;
}
.loading-chic > p {
  position: relative;
  top: -20vh;
  right: -6vh;
  color: white;
  font-weight: 700;
  font-size: 20px;
}

/* Preferences */
.preference-box {
  margin: 15px;
  border: 2px grey solid;
  border-radius: 5px;
  min-height: 20vh;
  padding: 15px;
  box-shadow: -5px 5px 5px 5px #0000003d;
  transition: box-shadow 250ms ease;
}

.preference-container {
  position: default;
  width: 90vw;
  top: 15%;
  align-self: baseline;
}

#name-list {
  width: 90%;
  margin: 15px;
  border: 2px grey solid;
  border-radius: 5px;
  box-shadow: -5px 5px 5px 5px #0000003d;
}

/* Form Page and Elements */
.modal-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background-color: #85858556;
}

.modal {
  width: 400px;
  min-height: 50vh;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: -5px 5px 5px 5px #0000003d;
  display: flex;
  flex-direction: column;
  padding: 50px;
  justify-content: space-evenly;
}

/* Css Transitions */
.form-modal-enter {
  opacity: 0;
  background-color: unset;
  transform: translateX(200px);
}
.form-modal-enter-active {
  opacity: 1;
  transform: translateX(0px);
  background-color: #85858556;
  transition: opacity 500ms, transform 400ms,
    background-color 300ms 200ms ease-in;
}
.form-modal-exit {
  opacity: 1;
  background-color: #85858556;
  transform: translateX(0px);
}
.form-modal-exit-active {
  opacity: 0;
  background-color: unset;
  transform: translateX(200px);
  transition: opacity 500ms, transform 500ms, background-color 100ms ease-in;
}

.input-range {
  margin: 20px;
}
#yearRange,
#year {
  width: 90%;
}
#year .input-range .input-range__track--active {
  background: none;
  transition: 0.5s ease-in-out;
}
#yearRange .input-range .input-range__track--active {
  transition: background 0.5s ease-in;
}

.order-bar {
  padding: 10px;
}

select {
  font-size: 0.75em;
}

.close-window {
  position: relative;
  width: 5px;
  top: -20px;
  align-self: flex-end;
  right: -20px;
  cursor: pointer;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #2b4570;
}
tr :hover {
  cursor: grab;
}

.dragged-item {
  background-color: #2b4570;
  color: white;
  cursor: grabbing;
}

/* Mobile Stylings */
@media only screen and (min-width: 790px) {
  .preference-container {
    width: 30vw;
    position: sticky;
  }
  .baby-name-container {
    min-width: 60%;
  }
}
